/**Styling for Main Body**/
body{
    background-color: lightslategrey;
  
}
/****/
#container{
    height: fit-content;
    width: fit-content;
   
    
}
/**Styling for navigation link to other sections**/
nav{
    margin-top: 10px;
    margin-left: 4px;
}

/**Styling for Homepage Nav**/
#homepage{
    border:1px solid black;
    width: 24%;
    background-color: deeppink;
    margin-left: 5px;
    margin-top: 1px;
    color: white;
    border-radius: 8px;
    padding: 2px;
}

/**Hover effect for Homepage id**/
#homepage:hover{
    background-color:whitesmoke ;
    color: black;
    padding:2px;
    border-color: blueviolet;
    font-style: italic;
}

/**Styling for About Nav**/
#about{
    border:1px solid black;
    width: 24%;
    background-color: deeppink;
    margin-left: 5px;
    margin-top: 1px;
    color: white;
    border-radius: 8px;
    padding: 2px;
}

/**Hover effect for About id**/
#about:hover{
    background-color:whitesmoke ;
    color: black;
    padding:2px;
    border-color: blueviolet;
    font-style: italic;
}

/**Styling for work and experience Nav**/
#work{
    border:1px solid black;
    width: 24%;
    background-color: deeppink;
    margin-left: 5px;
    margin-top: 1px;
    color: white;
    border-radius: 8px;
    padding: 2px;
}

/**Hover effect for work and experience id**/
#work:hover{
    background-color:whitesmoke ;
    color: black;
    padding:2px;
    border-color: blueviolet;
    font-style: italic;
}

/**Styling for Skills and Expertise Nav**/
#skill{
    border:1px solid black;
    width: 24%;
    background-color: deeppink;
    margin-left: 5px;
    margin-top: 1px;
    color: white;
    border-radius: 8px;
    padding: 2px;
}

/**Hover effect for skill and expertise id**/
#skill:hover{
    background-color:whitesmoke ;
    color: black;
    padding:2px;
    border-color: blueviolet;
    font-style: italic;
}

/**Styling for Contact Me Nav**/
#contact{
    border:1px solid black;
    width: 24%;
    background-color: deeppink;
    margin-left: 5px;
    margin-top: 1px;
    color: white;
    border-radius: 8px;
    padding: 2px;
}

/**Hover effect for Contact Me id**/
#contact:hover{
    background-color:whitesmoke ;
    color: black;
    padding:2px;
    border-color: blueviolet;
    font-style: italic;
}
h6{
    margin-left: 500px;
    margin-top: -5px;
}

/**Styling for Menu section**/
.menu{
    border-radius:30px 30px 0px 0px;
    background-color: rgb(192, 76, 147);
    width: 80%;
    margin-top: 20px;
    margin-left: 250px;
    border: 2px solid black;
    min-height: 5vh;
}

/**Styling for Main Portfolio Body section**/
.main{
    border-radius:0px 0px 30px 30px;
    background-color: rgb(149, 169, 194);
    border: 2px solid black;
    width: 80%;
    margin-left: 250px;
    min-height: 80vh;
    min-width: 100vh;
    
}

/**Styling for all header comments**/
header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-style: italic;
    font-size: 5em;
    text-align: center;

}

/**Styling for pictures attached**/
#picture{
    width: 250px; height: 250px;
    margin-left: 250px;
    margin-top: 30px;
    border-radius: 20px;
}
h5{
    text-align: center;
    font-style: italic;
    color: chocolate;
    background-color: whitesmoke;
    border:1px solid rgb(44, 39, 39);
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 50px;
}

/**Styling for About Section**/
#about1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-style: italic;
    font-size: 4em;
    margin-left: 12px;
    font-weight: bold;
}

/**Styling for About section 2**/
#about2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-style: italic;
    font-size: 1.5em;
    margin-left: 30px;
    font-weight: 300;
    margin-top: 90px;

}

/**Styling for Picture sample1**/
#sample1{
    margin-top: -50px;
    margin-left: 400px;
    height: 40%;
    width: 40%;
    border-radius: 10px;
}

/**Styling for Picture sample2**/
#sample2{
    margin-top: -50px;
    margin-left: 350px;
    height: 40%;
    width: 40%;
    border-radius: 10px;
}

/**Styling for Picture sample3**/
#sample3{
    margin-left: 30px;
    height: 20%;
    width: 20%;
    border-radius: 10px;
}

/**Styling for Work and Experience section**/
#work1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-style: italic;
    font-size: 1.5em;
    margin-left: 30px;
    font-weight: 300;
    margin-top: 50px;
}

/**Styling for about3 section**/
#about3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-style: italic;
    font-size: 1.5em;
    margin-left: 30px;
    font-weight: 300;
    margin-top: 60px;
}

/**Styling for expertise and skill section**/
#expertise{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-style: italic;
    font-size: 1.5em;
    margin-left: 5px;
    margin-top: -220px;
    color: black;

}

/**Styling for social media icons**/
.linkedin-pic{
    height: 30px;width: 30px;
}
.sample4{
    size: 10%;

}

/**Styling for Picture pict**/
#pict{
    width: 300px; height: 300px;
    margin-left: 300px;
    margin-top: -90px;
    border-radius: 20px;
}
#about4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    font-style: italic;
    font-size: 1.5em;
    margin-left: 30px;
    font-weight: 300;
    margin-top: 0px;
}
#heyyo{
    margin-left: 20px;
    margin-top: 1px;


}

/**Styling for linkedin link**/
.linkedin-link{
    margin-top: -5px;
    margin-left: 5px;
    background-color: rgb(209, 199, 199);
    width: 15%;
    border-radius: 2px;
    border-color: brown 2px;
    background-size: 20px;
}

/**Styling for twitter link**/
.twitter-link{
    margin-top: -40px;
    margin-left: 200px;
    background-color: rgb(209, 199, 199);
    width: 15%;
    border-radius: 2px;
    border-color: brown 2px;
    background-size: 20px;
}

/**Styling for github link**/
.Github-link{
    margin-top: -40px;
    margin-left: 400px;
    background-color: rgb(209, 199, 199);
    width: 15%;
    border-radius: 2px;
    border-color: brown 2px;
    background-size: 20px;
}